@import "main";
.wrapper {
    display: block;
    margin: auto;
    width: 56%;
}

.user-bar {
    background-color: $transparent;
    margin: 10px;
    padding: 10px;
    height: 50px;
}

.bar-text {
    background-color: $transparent;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.search-btn {
    background-color: $transparent;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    border: solid 1px $white;
    border-radius: 3px;
    user-select: none;
}

.search-btn:hover {
    background-color: $blue !important;
}

.user-input {
    display: inline-block;
    background-color: $transparent;
    width: 200px;
    height: 30px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    border: solid 1px $white;
    border-radius: 3px;
    color: $white;
}

.action-btn {
    background-color: $transparent;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    border: solid 1px $white;
    border-radius: 3px;
    user-select: none;
}

.action-btn-selected {
    background-color: $white;
    color: $blue !important;
}

.user-table {
    background-color: $transparent;
    border: solid 1px $white;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    height: 430px;
    width: 605px;
}

.table-row {
    background-color: $transparent;
    margin: 10px;
    height: 50px;
    transition: all 500ms linear;
}

.table-row>div {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.submit-btn {
    background-color: $transparent;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    border: solid 1px $white;
    border-radius: 3px;
    user-select: none;
}

.submit-btn:hover {
    background-color: $white;
}

input[type="text"]:disabled {
    background: rgb(102, 102, 102, 0.5);
}