@import "main";
.viewport {
    display: inline-block;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid $white;
    transition: all 500ms linear;
}

.viewport-square {
    border-radius: 3px !important;
    transition: all 500ms linear;
}

.viewport-line {
    height: 90%;
    width: 0px;
    border-top: 5px solid $white;
    border-bottom: 5px solid $white;
    transition: all 500ms linear;
}

.viewport-final {
    height: 95%;
    width: 95%;
    border-top: 5px solid $white;
    border-bottom: 5px solid $white;
    transition: all 1000ms linear;
}

.cube {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    transition: transform 50ms linear;
    transform-style: preserve-3d;
}

.cube-ready {
    transition: transform 500ms linear !important;
    transform: rotateX(-36deg) rotateY(-45deg) !important;
}

.cube-ani-1 {
    animation-name: cube-ani-1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cube-ani-1 {
    0% {
        transform: rotateX(36deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(395deg) rotateY(405deg);
    }
}

.cube>.cube-face {
    position: absolute;
    height: 300px;
    width: 300px;
    font-size: 1em;
    line-height: 1em;
    border: 1px solid $white;
    border-radius: 3px;
    user-select: none;
}

.cube>div:first-child {
    transform: rotateY( 0deg) translateZ(150px);
}

.cube>div:nth-child(2) {
    transform: rotateY( 90deg) translateZ(150px);
}

.cube>div:nth-child(3) {
    transform: rotateY(180deg) translateZ(150px);
}

.cube>div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(150px);
}

.cube>div:nth-child(5) {
    transform: rotateX( 90deg) translateZ(150px);
}

.cube>div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(150px);
}

.cube-inner {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    transform-style: preserve-3d;
}

.cube-inner>.cube-face-inner {
    position: absolute;
    height: 180px;
    width: 180px;
    top: 50px;
    left: 50px;
    padding: 10px;
    font-size: 1em;
    line-height: 1em;
    border: 1px solid $white;
    border-radius: 3px;
    user-select: none;
}

.cube-ani-2 {
    animation-name: cube-ani-2;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cube-ani-2 {
    0% {
        transform: rotateX(36deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(395deg) rotateY(405deg);
    }
}

.cube-ready2 {
    transition: transform 250ms linear !important;
    transform: rotateX(0deg) rotateY(0deg) !important;
}

.cube-inner>div:first-child {
    transform: rotateY( 0deg) translateZ(100px);
}

.cube-inner>div:nth-child(2) {
    transform: rotateY( 90deg) translateZ(100px);
}

.cube-inner>div:nth-child(3) {
    transform: rotateY(180deg) translateZ(100px);
}

.cube-inner>div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube-inner>div:nth-child(5) {
    transform: rotateX( 90deg) translateZ(100px);
}

.cube-inner>div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(100px);
}

.displayAdmin {
    transition: transform 250ms linear !important;
    transform: rotateX(0deg) rotateY(0deg) !important;
}

.displayManager {
    transition: transform 250ms linear !important;
    transform: rotateX(0deg) rotateY(-90deg) !important;
}

.displayEmployee {
    transition: transform 250ms linear !important;
    transform: rotateX(-90deg) rotateY(00deg) !important;
}

.loginWrapper-ready {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    user-select: none;
    opacity: 1;
    transition: all 500ms linear;
}

.cube-title {
    display: block;
    position: absolute;
    height: 150px;
    width: 300px;
    margin-top: 75px;
    line-height: 150px;
    text-align: center;
    color: white;
    font-size: 55px;
    opacity: 1;
    transition: all 500ms linear;
}

.special-employee {
    transform: rotateZ(-45deg);
}

.transit-wrapper-inactive {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    width: 0px;
    background-color: $background;
    border: 1px solid $white;
    border-radius: 3px;
    user-select: none;
    opacity: 0;
    transition: all 500ms linear;
}

.transit-wrapper-active {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    background-color: $background;
    border: 1px solid $white;
    opacity: 1;
    z-index: 1;
    transition: all 500ms linear;
}

.transit-wrapper-final1 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    border: 1px solid $white;
    opacity: 1;
    z-index: 1;
    transform: rotateZ(45deg);
    transition: all 500ms linear;
}

.transit-wrapper-final2 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    border: 1px solid $white;
    opacity: 1;
    z-index: 1;
    transform: rotateZ(0deg);
    transition: all 500ms linear;
}

.transit-wrapper-line {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    width: 90%;
    border: 1px solid $white;
    opacity: 1;
    z-index: 1;
    transition: all 500ms linear;
}

.transit-wrapper-final3 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 90%;
    border: 1px solid $white;
    opacity: 1;
    z-index: 1;
    transition: all 1000ms linear;
}