$blue: rgb(51, 131, 141);
$blue-fade: rgb(47, 85, 83);
$white: rgb(226, 230, 240);
$white-shadow: rgba(184, 239, 255, 0.6);
$background: rgba(0, 0, 0);
$transparent: rgba(0, 0, 0, 0);
$white-fade: rgb(226, 230, 240, 0.5);
@font-face {
    font-family: 'Sony_Sketch_EF';
    font-style: normal;
    font-weight: normal;
    src: local('Sony_Sketch_EF'), url('./font/Sony_Sketch_EF.woff') format('woff');
}

@font-face {
    font-family: 'FalconsFont';
    font-style: normal;
    font-weight: normal;
    src: local('FalconsFont'), url('./font/FalconsFont.woff') format('woff');
}

body {
    font-size: 18px;
    background: $background;
    font-family: "Sony_Sketch_EF", "FalconsFont", Helvetica, sans-serif;
    font-weight: 200;
}

.wrapper {
    height: 100%;
    height: 800px;
    margin: auto;
}

.shadow {
    box-shadow: 0 0 10px 10px $white-shadow inset;
    transition: all 500ms linear;
}

.pause {
    animation-play-state: paused;
}

.hidden {
    opacity: 0 !important;
    transition: all 500ms linear;
}

.disabled {
    display: none;
    transition: all 500ms linear;
}

.neon {
    color: $white;
    box-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue;
    box-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue inset;
    // text-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue;
    transition: all 500ms linear;
}

.neon-inner {
    color: $white;
    box-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue inset;
    // text-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue;
    transition: all 500ms linear;
}

.neon-minor {
    color: $white;
    box-shadow: 0 0 2px $white-fade, 0 0 5px $white-fade, 0 0 10px $white-fade, 0 0 20px $blue-fade, 0 0 40px $blue-fade, 0 0 45px $blue-fade, 0 0 50px $blue-fade, 0 0 75px $blue-fade;
    box-shadow: 0 0 2px $white-fade, 0 0 5px $white-fade, 0 0 10px $white-fade, 0 0 20px $blue-fade, 0 0 40px $blue-fade, 0 0 45px $blue-fade, 0 0 50px $blue-fade, 0 0 75px $blue-fade inset;
    // text-shadow: 0 0 2px $white, 0 0 5px $white, 0 0 10px $white, 0 0 20px $blue, 0 0 40px $blue, 0 0 45px $blue, 0 0 50px $blue, 0 0 75px $blue;
    transition: all 500ms linear;
}

.unselectable {
    user-select: none;
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
    pointer-events: none;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient( to bottom, transparent 0%, rgba(255, 255, 255, 0.05) .5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}