<!DOCTYPE html>
<html>

<head>
    <!-- div: https://paulrhayes.com/2010-09/3d-css-cube-ii-touch-gestures-click-and-drag/ -->
    <!-- Demo: https://paulrhayes.com/experiments/cube-3d/touch.html -->
    <!-- Originally posted: 28th September 2010 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>3D CSS cube, use arrow keys, touch gestures or click and drag to rotate &mdash; Paul Hayes</title>
    <meta name="author" content="Paul Hayes" />
    <link rel="canonical" href="https://paulrhayes.com/experiments/cube-3d/touch.html" />

    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <div class="wrapper">
        <div id="viewport-cube" class="viewport">
            <div id="cube-inner" class="cube-inner  cube-ani-2">
                <div id="cube-face-1-a" class="cube-face-inner">
                    1-a
                </div>
                <div id="cube-face-2-a" class="cube-face-inner">
                    2-a
                </div>
                <div id="cube-face-3-a" class="cube-face-inner">
                    3-a
                </div>
                <div id="cube-face-4-a" class="cube-face-inner">
                    4-a
                </div>
                <div id="cube-face-5-a" class="cube-face-inner">
                    5-a
                </div>
                <div id="cube-face-6-a" class="cube-face-inner">
                    6-a
                </div>
            </div>
            <div id="cube" class="cube cube-ani-1">
                <div id="cube-face-1" class="cube-face">
                    1 admin x 20 to -20, y 20 to -20
                </div>
                <div id="cube-face-2" class="cube-face">
                    2 manager x 20 to -20, y -70 to -110
                </div>
                <div id="cube-face-3" class="cube-face">
                    3
                </div>
                <div id="cube-face-4" class="cube-face">
                    4
                </div>
                <div id="cube-face-5" class="cube-face">
                    5 employee x -70 to -110 y -70 to -110
                </div>
                <div id="cube-face-6" class="cube-face">
                    6
                </div>
            </div>

        </div>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="main.js"></script>
</body>

</html>